{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Save{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/css/main.css' %}">

{% endblock %}
{% block content %}
    {{ count }}
    <div class="tracker-wrapper">
        {% if form.errors %}
            <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
        {% endif %}

        <form action='{% url 'save' %}' method='post'> {% csrf_token %}
            <label for="longitude">longitude:</label>
            <input type="number" step="any" name="longitude" value="" id="longitude">
            <label for="latitude">latitude:</label>
            <input type="number" step="any" name="latitude" value="" id="latitude">

            <input type="submit" value="send" />
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="javascript" src="{% static 'tracker/js/main.js' %}"></script>
{% endblock %}