{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Tracker{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/css/main.css' %}">
{% endblock %}
{% block content %}
    <div class="tracker-wrapper">
        Последний запрос поступил с: {{ client_ip }}
        <div id="map"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="javascript" src="{% static 'tracker/js/main.js' %}"></script>
    <script>
        function initGoogle(){
            // Create a map object and specify the DOM element for display.

            var locations = [
                {% for pos in position %}
                    {lat: {{ pos.latitude |stringformat:"f" }}, lng: {{ pos.longitude |stringformat:"f" }}},
                {% endfor %}
            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat:   43.123817, lng: 131.891798},
                scrollwheel: true,
                zoom: 15
            });

            var arrowSymbol = {
                path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
            };

            var circleSymbol = {
                path: google.maps.SymbolPath.CIRCLE
            };

            var Path = locations.map(function (location, i) {
                if (i + 1 < locations.length) {
                    line = [location, locations[i+ 1]];
                    return new google.maps.Polyline({
                        path: line,
                        geodesic: true,
                        strokeColor: '#FF0000',
                        strokeOpacity: 1.0,
                        strokeWeight: 2,
                        icons: [
                            {
                                icon: arrowSymbol,
                                offset: '100%'
                            },
                            {
                                icon: circleSymbol,
                                offset: '0%'
                            },
                            {
                                icon: circleSymbol,
                                offset: '100%'
                            }
                        ],
                        map: map
                    });
                }
            })
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGOya76cyO2HGKPXT_b3BI4_J1JyCgSRs&callback=initGoogle" async defer></script>
{% endblock %}