* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.footer .content {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    display: block;
}

.footer {
  flex: 0 0 auto;
}

.social-links {
    margin-top: 10px;
    margin-right: 20px;
}

.social-links img {
    margin-top: 10px;
    margin-right: 20px;
}

/*.wrapper {*/
    /*display: block;*/
/*}*/